<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <html>

   <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load('current', {packages:['wordtree']});
          google.charts.setOnLoadCallback(drawChart);

          function drawChart() {
            var data = google.visualization.arrayToDataTable(
            {{ phrases|safe }}
            );

            var options = {
            maxFontSize: 15,
              wordtree: {
                format: 'implicit',
                word: '{{ keyword }}'
              }
            };

            var chart = new google.visualization.WordTree(document.getElementById('wordtree_basic'));
            chart.draw(data,options);
          }
           </script>
    </head>

  <body>
    <div id="wordtree_basic"></div>
  </body>

   </html>



